/*
  STYLE GUIDE STYLING
  Default styling for the style guide
*/

body {
  font-family: "Louis George Cafe", Verdana, sans-serif;
  padding: 2rem;
  background: rgba(255,240,245, 0.5);
}

div{
  padding: 5px;
  font-size: 1rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

h1 {
  font-family: "Flowerbust-Regular", Verdana, sans-serif;
  color:rgb(186, 58, 85);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12vw;
  text-align: center;
}


h2 {
  font-family: "Flowerbust-Regular", Verdana, sans-serif;
  font-size: 1.8rem;
  color:rgba(186, 58, 85, 0.7);
  margin-top: 2rem;
  margin-bottom: 0;
}

h3 {
  font-size: 1.3rem;
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

p, ol, ul {
  max-width: 55rem;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.listing{
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  text-align: center;
}

img {
  height: auto;
  width: 100%;
  border-width: 0.1rem;
  border-style: solid;
  border-color: rgb(125, 125, 125);
}

.imgBox{
    max-width: 100%;
}

section {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

figure {
  margin: 0;
}

.item {
  margin: 0;
  transition-duration: 0.5s;
}

.item:hover{
  opacity: 60%;
}

code, samp {
  display: block;
  background-color: rgb(230,230,230);
  padding: 0.5rem;
}

table {
  width: 100%;
  padding: 0rem 10rem 4rem 10rem;
}

th, tr {
    color: #ffffff;
    
}



/*
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.nav-main-item {
  display: inline-block;
	color: rgb(205,92,92);
	background-color: rgb(255,228,225);
	font-size: 1.3rem;
	text-align: center;

    margin-top: 0.4rem;
	margin-right: 1rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;

	/* Code from https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius*/
	border-radius: 10px 100px / 120px;

	padding: 1rem 1rem;
	text-decoration: none;
	transition-property: background-color;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
}

.nav-main-item:active, .nav-main-item:hover, .nav-main-item:focus {
	color: rgb(255,228,225);
	background-color: rgb(205,92,92);
}

textarea{
	height: 5rem;
}

.btn {
  background-color:rgb(205,92,92);
  color: white;
  display: block;
  width: 40%;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  padding:  1rem;
  letter-spacing: 0.1rem;
  border-radius: 0.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  min-width: fit-content;
}

.btn:hover {
  background-color: rgb(238, 165, 165);
}

.checkout_btn {
  background-color:rgb(205,92,92);
  color: white;
  display: block;
  width: 40%;
  text-align: center;
  text-decoration: none;
  font-size: 1.1rem;
  padding:  1rem;
  letter-spacing: 0.2rem;
  border-radius: 0.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  min-width: fit-content;
  border-radius: 10rem;
}

.checkout_btn:hover {
  background-color: rgb(238, 165, 165);
}

.Checkout-button {
  position: relative;
  left:50em;
  display: inline-block;
  padding: 1rem;
  color: white;
  background-color: rgb(205,92,92);
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.5s;
    border: 1px solid white;
    font-size: 1rem;
    text-align: center;
    border-radius: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.Checkout-button:hover, .Checkout-button:focus {
  color: white;
  background-color: rgb(247, 185, 178);
}

span.price {
  float: right;
  color: rgb(205,92,92);

}

.logo{
	position: center;
	z-index: 1020;
	max-width: 4rem;
	margin-left: 1rem;
    margin-top: 1px;
}

.navbar{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	justify-content: space-between;
	align-items: center;
	background-color:  rgb(255,228,225);
	z-index: 101;
	border-radius: 2px;
	box-shadow: 0px 1px 10px rgb(248, 212, 208);
}

/* Nav Bar Code from "https://www.w3schools.com/css/css_navbar_horizontal.asp"*/
/* Dropdown Code form "https://www.w3schools.com/css/css_dropdowns.asp"*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255,228,225);
}

li {
  float: right;
}

li a, .dropbtn{
  display: inline-block;
  color: rgb(205,92,92);
  text-align: center;
  padding: 14px 16px;
  margin-top: 5px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(255, 228, 225);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255,228,225);
  min-width: 120x;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(205,92,92);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(253, 204, 198);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*
  CART PAGE ---------------
*/

.Cart-Summary-Guid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 0.15rem solid #ff8888;
  margin: 1rem 4rem 1rem 4rem;
}

.Cart-Summary1-Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 0.15rem solid #ff8888;
  margin: 1rem 4rem 0rem 4rem;
}

.Product-div {
  text-align: center;
  grid-area: 1 / 1 / 2 / 3;
}

.Price-div{
  grid-area: 1 / 4 / 2 / 5;
}

.Quantity-div {
  grid-area: 1 / 5 / 2 / 6;
}

.Total-Price-div{
  grid-area: 1 / 6 / 2 / 7;
}

.Product-Detail-div {
  grid-area: 1 / 0.5 / 2 / 3;
}

.Product-Detail-div img {
  margin-left: 1rem;
  margin-top: -1rem;
}

.Product-info-div {
  grid-area: 1/2/2/4;
  margin-left: 2rem;
}

.Price-Detail-div {
  grid-area: 1 / 4 / 2 / 5;
}

.Quantity-Detail-div {
  margin-left: 2rem;
  grid-area: 1 / 5 / 2 / 6;
}

.Total-Detail-div {
  margin-left: 2rem;
  grid-area: 1 / 6 / 2 / 7;
}

.Subtotal-Grid {
  display: grid;
  grid-template-columns: 0.175fr 0.175fr 0.175fr 0.175fr 0.175fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 0.15rem solid #ff8888;
  margin: 0rem 4rem 0rem 4rem;
}

.Subtotal-Text-div {
  grid-area: 1 / 5 / 2 / 6;
}

.Subtotal-Text-div p{
  position: relative;
  left:10px;
}


.Shipping-Fee-Text-div {
  grid-area: 2 / 5 / 3 / 6;
}

.Shipping-Fee-Text-div p{
  position: relative;
 left:10px;
}

.Tax-Text-div {
  grid-area: 3 / 5 / 4 / 6;
}

.Tax-Text-div p{
  position: relative;
 left:10px;
}

.Subtotal-Price-div {
  grid-area: 1 / 6 / 2 / 7;
}

.Shipping-Price-div {
  grid-area: 2 / 6 / 3 / 7;
}

.Tax-Price-div {
  grid-area: 3 / 6 / 4 / 7;
}

.Subtotal-Price-div p{
  position: relative;
 left:50px;
}

.Shipping-Price-div p{
  position: relative;
  left:50px;
}

.Tax-Price-div p{
  position: relative;
  left:50px;
}

.Total-Grid {
  display: grid;
  grid-template-columns: 0.175fr 0.175fr 0.175fr 0.175fr 0.175fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0rem 4rem -10rem 4rem;
}

.Total-Text-div {
  grid-area: 1 / 5 / 2 / 6;
}

.Total-Text-div p{
  position: relative;
 left:10px;
}

.Total-Price-div {
  grid-area: 1 / 6 / 2 / 7;
}

.Total-Price-div p{
  position: relative;
  left: 50px;
}

.cart_two_colume_grid {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin: -3rem auto 0rem auto;
}

.button_continue{
  text-align: center;
  margin: -3rem auto auto auto;
}

.button_continue p{
  font-size: 1rem;
  margin: auto auto -.5rem auto;
}

/* 
  CONFIRM PAGE -----------------
*/
.confirmation{
	padding-top: 5rem;
	padding-bottom: 3rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.confirmation h1{
	font-size: 2.5rem;
	text-align: center;
	color:rgb(205,92,92);
}

.confirmation img{
	display: block;
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 10%;
}

.confirmation h2{
	font-family: "Louis George Cafe", Verdana, sans-serif;
	text-align: center;
	font-size: 1.2rem;
	color:black;
}


.confirmation .btn{
    display: block;
    text-align: center;
    text-decoration: none;
	margin-top: 3rem;
	margin-bottom: 3rem;
	margin-left: auto;
	margin-right: auto;
}


/* Code from https://www.w3schools.com/howto/howto_css_contact_form.asp */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* submit button with a specific background color */
input[type=submit] {
  background-color: rgb(205,92,92);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, darker color is appear */
input[type=submit]:hover {
  background-color: rgb(178,34,34);
}

/*  submit button with a specific background color */
input[type=reset] {
  background-color: rgb(183,157,162);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, darker color is appear */
input[type=reset]:hover {
  background-color: rgb(150, 140, 142);
}







/* Responsive layout */

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}


.landingimg{
    padding-top: 35rem;
	max-width: 100%;
	background-image: url(https://images.unsplash.com/photo-1589244159943-460088ed5c92?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1190&q=80.jpg);
    background-size: cover;
	background-attachment: fixed;
}


.shoplist{
    margin-top: 5rem;
	margin-bottom: 7rem;
	margin-right: 4vw;
	margin-left: 9vw;
}

.productlist{
	padding-top: 2rem;
	padding-right: 3rem;
	padding-bottom: 5rem;
}

/* 
  ABOUT PAGE -------------------
*/

.about_introduction {
  padding-top: 30rem;
  background-image: url(https://www.cgarchitect.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNHc5QVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--1febb60c5cd98e3d1791aac99090bc75f9cf520a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9VY21WemFYcGxYM1J2WDJ4cGJXbDBXd2RwQWxZRk1Eb0tjMkYyWlhKN0Jqb01jWFZoYkdsMGVXbGsiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--a140f81341e053a34b77dbf5e04e777cacb11aff/7803dd76.jpg);
  /*https://www.cgarchitect.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNHc5QVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--1febb60c5cd98e3d1791aac99090bc75f9cf520a/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9VY21WemFYcGxYM1J2WDJ4cGJXbDBXd2RwQWxZRk1Eb0tjMkYyWlhKN0Jqb01jWFZoYkdsMGVXbGsiLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--a140f81341e053a34b77dbf5e04e777cacb11aff/7803dd76.jpg */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #e69eb3;
  max-width: 100%;
  height: auto;
  text-align: center;
  object-fit:cover;
}

.introduction {
  margin: 0rem -.3rem -.3rem -.3rem;
  position: relative;
  align-self:  stretch;
  background-color: rgba(241, 241, 241, 0.425);
  color: white;
  text-align: center;
}

.introduction h1{
  font-family: 'Amita', cursive;
  font-size: 3rem;
  text-align: center;
}

.introduction p {
  font-family: 'Comfortaa', cursive;
  font-size: 1.2rem;
  margin: 1rem auto 3rem auto;
  text-align: center;
}

.about_store h2 {
  color: rgb(221, 124, 145);
  text-align: center;
  padding: 2rem 0rem 2rem 0rem;
  margin: 1rem 0rem 1rem 0rem;
}

.about_store p {
  text-align: center;
  margin: 0rem auto 2rem auto;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

.newsletter{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: -2rem;
}

.newsletter h2{
  font-family: 'Comfortaa', cursive;
  font-size: 1.2rem;
}

.container_about{
  position: relative;
	box-sizing: auto;
	background: #ffdad6;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.container_about_content{
    padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
	width: 100%;
	text-align: center;
	color: rgb(255,255,255);
	max-width: 40rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* 
  FOOTER -------------------
*/

.footer-content{
  
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 7rem;
}

.footer-content h1{
  font-family: 'Amita', cursive;
  font-size: 3rem;
  text-align: center;
}

footer{
	display: span;
	background-color: #ffdad6;
}

.icon {
	margin: 1rem;
	margin-top: 0;
	margin-bottom: 2rem;

  min-width: 20px;
	max-width: 3%;

}

/*
  TEXT ELEMENTS -------------------
*/

.about-text{
	text-align: center;
}

/*
  PRODUCT INFO PAGE-------------------
*/

.two_colume_grid {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 1.3rem 1rem 1.3rem;
}

.gap {
  padding-bottom: 0rem;
}

.productImg {
  justify-self: center;
}

.productInfo {
  text-align-last: center;
  margin-left: 10rem;
}

.productInfo p {
  text-align-last: center;
  font-size: 1.1rem;
  
}

.quantity-selection {
  margin: auto auto 1rem -.3rem;
}

.quantity-selection-box {
  height: 2.5rem;
  width: 15rem;
  border: 2px solid rgb(186, 58, 85);
  border-radius: 0.75rem;
}

.quantity_label_name {
  font-size: 1.05rem;
  display: block;
  padding-bottom: 0.5rem;
}

.add-to-cart {
  margin: auto auto auto auto;
  width: 38rem;
}

.product_detail_info {
  background: #ffdad6;
  width: 100%;
  margin: 0;
}

.product_detail_info_heading {
  color: rgb(186, 58, 85);
  margin: 0;
  padding: 3rem 1rem 2rem 1rem;
  text-align: center;
}

.detailTitle {
  color: rgb(186, 58, 85);
  text-align: left;
  padding: 1rem 5rem 1rem 10rem;
 
}

.detailInfo {
  color: black;
  text-align: left;
  padding: 1rem 0rem 1rem 15rem;
}

.user_reviews_h2 {
  margin: 5rem auto -1rem auto;
  text-align: center;
}

.user_review {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
	margin: 3rem auto auto auto;
	padding: 2rem;
	border-width: 5px;
	border-style: double;
	border-color: rgb(248, 187, 200);
}


.user_img{
	border-radius: 0.5rem;
  margin: -1rem auto -1rem auto;
	min-width: 200px;
	max-width: 15%;
	height: auto;
}

.review_section{
margin-top: auto;
}

.user_review_section {
	width: 100%;
	height: 100%;
	display: grid;
	align-items: center;
	z-index: 1;
  margin: -7rem auto -13rem auto;
}

.user_review_content{
	width: 100%;
	height: auto;
	flex: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.user_review_content h2{
  margin-bottom: 2rem;
}

.user_review_content form{
	width:60vw;
}

.user_review_content_input {
	width: 100%;
	height: 2.5rem;
	color: #222831;
	border: 0.07rem solid rgb(248, 187, 200);
	border-radius: 0.7rem;
	outline: none;
	margin-bottom: 1.25rem;
	padding: 1rem;
}

.user_review_content textarea {
	width: 100%;
	height: 8.125rem;
	color: #222831;
	border: 0.07rem solid rgb(248, 187, 200);
	border-radius: 0.625rem;
	outline: none;
	margin-bottom: 1.25rem;
	padding: 1rem;
}




/*
  CHECKOUT PAGE -------------------
*/

.checkout_two_colume_grid {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  margin: 3rem auto -1rem auto;
}

.checkout_button_continue{
  text-align: center;
  margin: auto auto auto auto;
}

